@import url(../../css/utilities/tags.css); 
@import url(../../css/utilities/colors.css);

.mod_journal {
    width: 100%;
}
.mod_journal .mod_journal_metadata {
    font-size:.7em;
    font-style:italic;
    margin-bottom:1rem;
}
.mod_journal div.mod_journal_box {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: 8px;
}
.mod_journal div.mod_journal_readmore {
    float:right;
}
.mod_journal .mod_journal_readmore a{
    display: inline-block;
    background-color: #314B68;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    text-decoration: none !important;
}
.mod_journal .mod_journal_readmore a:hover{
    color: #fff;
}

.mod_journal td.mod_journal_table_left,
.mod_journal td.mod_journal_table_center,
.mod_journal td.mod_journal_table_right {
    width:33.33%;
}
.mod_journal table.mod_journal_table{
    margin-top: 1rem;
    width:100%;
}
.mod_journal td.mod_journal_table_right {
    text-align: right;
}

.mod_journal table.mod_journal_table td.mod_journal_table_center{text-align:center}
.mod_journal div.mod_journal_spacer{clear:left;padding-top:.1em}

/*** list page ***/
.mod_journal .mod_journal_teaserpic{float:left;margin-right:15px;}
.mod_journal .mod_journal_teaserpic img{height:10em;width:10em;object-fit:cover;}
.mod_journal .mod_journal_teaserpic.rounded img{border-radius:50%;}
.mod_journal .mod_journal_teaserpic.oval img{border-radius:50%;height:8em;}

/*** details page ***/
.mod_journal .mod_journal_content_short img{float:left;margin-right:15px;height:10em;width:10em;object-fit:cover;}
