@import url(../../css/utilities/tags.css); 
@import url(../../css/utilities/colors.css);

.mod_journal .mod_journal_metadata {
    font-size:.7em;
    font-style:italic;
}
.mod_journal div.mod_journal_box {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: 8px;
}
.mod_journal div.mod_journal_readmore {
    float:right;
}
.mod_journal .mod_journal_readmore a{
    display: inline-block;
    background-color: #314B68;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    text-decoration: none !important;
}
.mod_journal .mod_journal_readmore a:hover{
    color: #fff;
}

.mod_journal td.mod_journal_table_left,
.mod_journal td.mod_journal_table_center,
.mod_journal td.mod_journal_table_right {
    width:33.33%;
}
.mod_journal table.mod_journal_table{
    width:100%;
}