@import url(../../css/utilities/tags.css); 
@import url(../../css/utilities/colors.css);

.mod_nwi .mod_nwi_metadata {
    font-size:.7em;
    font-style:italic;
}
.mod_nwi div.mod_nwi_box {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: 8px;
}
.mod_nwi div.mod_nwi_readmore {
    float:right;
}
.mod_nwi .mod_nwi_readmore a{
    display: inline-block;
    background-color: #314B68;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    text-decoration: none !important;
}
.mod_nwi .mod_nwi_readmore a:hover{
    color: #fff;
}

.mod_nwi td.mod_nwi_table_left,
.mod_nwi td.mod_nwi_table_center,
.mod_nwi td.mod_nwi_table_right {
    width:33.33%;
}
.mod_nwi table.mod_nwi_table{
    width:100%;
}