@import url(js/spectrum.css);
/* ===== tables ===== */
.mod_journal.wbce table.table { width: 100%; }

.mod_journal.wbce table.table th, .mod_journal.wbce table.table td { padding: 2px 5px; text-align: left; }

.mod_journal.wbce table.table img.preview { height: 50px; max-height: 50px; }

.mod_journal.wbce table.table-striped tr:nth-child(odd), .mod_journal.wbce .mod_journal_tag:nth-of-type(odd) { background-color: #ececec; }

.mod_journal.wbce table.table-striped tr:nth-child(even) { background-color: #fff; }

.mod_journal table.table th { background-color: #ccc; color: #000; padding: 5px; }

/* ===== forms ===== */
.mod_journal.wbce input[type="submit"], .mod_journal.wbce input[type="button"] { width: 150px; padding: 5px; margin-top: 5px; }

.mod_journal.wbce a.btn { display: inline-block; width: 150px; background-color: #ccc; text-align: center; text-decoration: none; }

.mod_journal.wbce a.btn:hover { color: #c00; }

div.card-content .form-control { display: inline; }

.mod_journal.wbce .border-danger { border: 1px solid #c00; }

.mod_journal input.border-danger { background-color: #f5cccc; }

/* ===== IMAGE PREVIEW ===== */
.xbtooltip { display: none; position: absolute; background-color: #fff; border: 1px solid grey; padding: 3px; }

.xbtooltip img { width: 200px; }

.mod_journal .img_list { width: 80px; }

/* ===== DRAG & DROP ===== */
.mod_journal .dragdrop_handle { background-color: #ccc; background-image: url("images/dd_grip.png"); background-position: right center; cursor: move; padding: 0; width: 20px !important; }

/* ===== SWITCH ===== */
/* The switch - the box around the slider */
.switch { position: relative; display: inline-block; width: 30px; height: 17px; }

/* Hide default HTML checkbox */
.switch input { opacity: 0; width: 0; height: 0; }

/* The slider */
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; transition: .4s; }

.slider:before { position: absolute; content: ""; height: 13px; width: 13px; left: 2px; bottom: 2px; background-color: white; transition: .4s; }

input:checked + .slider { background-color: #2196F3; }

input:focus + .slider { box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before { transform: translateX(13px); }

/* Rounded sliders */
.slider.round { border-radius: 17px; }

.slider.round:before { border-radius: 50%; }

/* ===== MAIN TABS ===== */
.mod_journal .tabs { float: none; list-style: none; padding: 0; }

.mod_journal.wbce .tabs { margin-top: 5px; }

.mod_journal .tabs:after { content: ''; display: table; clear: both; }

.mod_journal .tabs input[type=radio] { display: none; }

.mod_journal .tabs label.tab, .mod_journal .tabs label.subtab { display: block; float: left; width: 20%; color: #ccc; font-size: 1.3em; font-weight: normal; text-decoration: none; text-align: center; line-height: 1.3em; cursor: pointer; transition: all 0.5s; margin-right: 0 !important; margin-bottom: -1px; padding: 5px; border: 1px solid #ccc; }

.mod_journal .sub-tab-content { border: 0; }

.mod_journal .tabs label.subtab { border-bottom-width: 0; width: 50%; }

.mod_journal div.tabs label.tab i.fa { margin-right: 5px; }

.mod_journal .tabs label.tab i { padding: 5px; margin-right: 0; }

.mod_journal .tabs label.tab:hover { color: #3498db; }

.mod_journal .main-tab-content, .mod_journal .sub-tab-content { display: none; width: 100%; float: left; padding: 15px; box-sizing: border-box; border: 1px solid #ccc; border-top-width: 0; }

.mod_journal .tabs [id^="maintab"]:checked + label.tab, .mod_journal .tabs [id^="subtab"]:checked + label.subtab { color: #3498db; font-weight: 900; box-shadow: 3px -3px 3px #ccc; border-bottom-color: transparent; }

@media (min-width: 768px) { .tabs i { padding: 5px; margin-right: 10px; }
  .tabs label.tab span { display: inline-block; } }
.mod_journal #maintab1:checked ~ #main-tab-content1, .mod_journal #maintab2:checked ~ #main-tab-content2, .mod_journal #maintab3:checked ~ #main-tab-content3, .mod_journal #maintab4:checked ~ #main-tab-content4, .mod_journal #maintab5:checked ~ #main-tab-content5 { display: block; }

.mod_journal #subtab1:checked ~ #sub-tab-content1, .mod_journal #subtab2:checked ~ #sub-tab-content2 { display: block; }

.mod_journal .mod_journal_tag { padding: 0.2em 0; }

.mod_journal .mod_journal_taglist { border: 1px solid #ececec; max-height: 100px; overflow-y: scroll; }

/* ===== Settings page ===== */
.mod_journal .resize_defaults { cursor: pointer; }

.mod_journal .setting_name { vertical-align: top; width: 20%; font-weight: 900; }

.mod_journal .setting_value { vertical-align: top; width: 80%; }

.mod_journal .setting_value input[type="text"], .mod_journal .setting_value select { width: 98%; }

.mod_journal span.mod_journal_color { display: inline-block; width: 25px; height: 25px; border-radius: 50%; }

/*# sourceMappingURL=backend.css.map */
