@import url(js/spectrum.css);
@import url(css/fa/fontawesome.min.css);
/* ===== tables ===== */
.mod_journal table.table { width: 100%; border-radius: 5px; }

.mod_journal.wbce table.table th, .mod_journal.wbce table.table td { padding: 2px 5px; text-align: left; }

.mod_journal.wbce table.table img.preview { height: 50px; max-height: 50px; }

.mod_journal.wbce table.table-striped tr:nth-child(odd), .mod_journal.wbce .mod_journal_tag:nth-of-type(odd) { background-color: #ececec; }

.mod_journal.wbce table.table-striped tr:nth-child(even) { background-color: #fff; }

.mod_journal table.table th { background-color: #ccc; color: #000; padding: 5px; }

/* ===== forms ===== */
.mod_journal form > table { background-color: #fff; }

.mod_journal.wbce input[type="submit"], .mod_journal.wbce input[type="button"] { min-width: 150px; padding: 5px; margin-top: 5px; }

.mod_journal.wbce a.btn { display: inline-block; min-width: 150px; background-color: #ccc; text-align: center; text-decoration: none; }

.mod_journal.wbce a.btn:hover { color: #c00; }

div.card-content .form-control { display: inline; }

.mod_journal.wbce .border-danger { border: 1px solid #c00; }

.mod_journal input.border-danger { background-color: #f5cccc; }

.mod_journal input[type="submit"], .mod_journal input[type="button"] { background-image: linear-gradient(to bottom, #484e4f, #323637); box-shadow: inset 0 1px rgba(255, 255, 255, 0.06); padding: 7px; border: 1px solid #777; color: #fff; margin: 0; }

/* ===== IMAGE PREVIEW ===== */
.xbtooltip { display: none; position: absolute; background-color: #fff; border: 1px solid grey; padding: 3px; }

.xbtooltip img { width: 200px; }

.mod_journal .img_list { width: 80px; }

.preview-img { width: 64px; height: 64px; }

/* ===== DRAG & DROP ===== */
.mod_journal.wbce .dragdrop_handle { background-color: #ccc; background-image: url("images/dd_grip.png"); background-position: right center; cursor: move; padding: 0; width: 20px !important; }

/* ===== SWITCH ===== */
/* The switch - the box around the slider */
.mod_journal_switch { position: relative; display: inline-block; width: 30px; height: 17px; }

/* Hide default HTML checkbox */
.mod_journal_switch input { opacity: 0; width: 0; height: 0; min-height: inherit; }

/* The slider */
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; transition: .4s; }

.slider:before { position: absolute; content: ""; height: 13px; width: 13px; left: 2px; bottom: 2px; background-color: white; transition: .4s; }

input:checked + .slider { background-color: #2196F3; }

input:focus + .slider { box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before { transform: translateX(13px); }

/* Rounded sliders */
.slider.round { border-radius: 17px; }

.slider.round:before { border-radius: 50%; }

/* ===== MAIN TABS ===== */
div.mod_journal div.tabs nav ol, div.mod_journal div.tabs nav ul { list-style: none; }

div.mod_journal div.tabs nav { text-align: center; }

div.mod_journal div.tabs nav { height: 36px; background: #464b4c; border-top: 1px solid #353939; border-bottom: 1px solid #2e3131; background-image: linear-gradient(to bottom, #464b4c, #3f4344); box-shadow: inset 0 1px rgba(255, 255, 255, 0.06); }

div.mod_journal div.tabs nav a { transition: 0.1s ease-out; transition-property: background-color, line-height; }

div.mod_journal div.tabs nav ul { float: left; border-left: 1px solid #353939; border-left: 1px solid rgba(0, 0, 0, 0.2); border-right: 1px solid #4d5354; border-right: 1px solid rgba(255, 255, 255, 0.06); }

div.mod_journal div.tabs nav li { float: left; margin-left: 0; }

div.mod_journal div.tabs nav a { display: block; padding: 0 20px; line-height: 36px; color: #ddd; text-decoration: none; text-shadow: 0 -1px #2e3131; border-left: 1px solid #4d5354; border-left: 1px solid rgba(255, 255, 255, 0.06); border-right: 1px solid #353939; border-right: 1px solid rgba(0, 0, 0, 0.2); cursor: pointer; }

div.mod_journal div.tabs nav a:hover { background: #4d5354; background: rgba(255, 255, 255, 0.5); }

div.mod_journal div.tabs nav li a, div.mod_journal div.tabs nav a:active { padding: 0 21px; line-height: 33px; color: #eee; background: #323637; border-left: 0; border-right: 0; border-bottom: 3px solid #48a9c0; background-image: linear-gradient(to bottom, #484e4f, #323637); box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2); }

div.mod_journal div.tabs nav li.licol2 a, div.mod_journal div.tabs nav li.licol2 a:active { border-bottom-color: #ed8753; }

div.mod_journal div.tabs nav li.licol1 a, div.mod_journal div.tabs nav li.licol1 a:active { border-bottom-color: #ed5753; }

div.mod_journal div.tabs nav li.licol3 a, div.mod_journal div.tabs nav li.licol3 a:active { border-bottom-color: #FFB458; }

div.mod_journal div.tabs nav li.licol4 a, div.mod_journal div.tabs nav li.licol4 a:active { border-bottom-color: #fcfc74; }

div.mod_journal div.tabs nav li a:hover { border-bottom-color: #fff; }

div.mod_journal div.tabs nav li.active a { background: rgba(255, 255, 255, 0.05); }

/**/
/* sub / inner tabs */
/**/
div.innertabs { margin: 0; padding: 0; border: 0; outline: none; font-size: 0; text-align: left; }

div.innertabs > input[type="radio"] { position: absolute; left: -9999px; }

div.innertabs > label { position: relative; display: inline-block; margin: 0; padding: 0; border: 0; outline: none; cursor: pointer; transition: all 0.1s; }

div.innertabs > input:checked + label { cursor: default; }

div.innertabs > .tab-content-first:checked ~ ul .tab-content-first, div.innertabs > .tab-content-2:checked ~ ul .tab-content-2, div.innertabs > .tab-content-3:checked ~ ul .tab-content-3, div.innertabs > .tab-content-4:checked ~ ul .tab-content-4, div.innertabs > .tab-content-5:checked ~ ul .tab-content-5, div.innertabs > .tab-content-6:checked ~ ul .tab-content-6, div.innertabs > .tab-content-7:checked ~ ul .tab-content-7, div.innertabs > .tab-content-8:checked ~ ul .tab-content-8, div.innertabs > .tab-content-9:checked ~ ul .tab-content-9, div.innertabs > .tab-content-last:checked ~ ul .tab-content-last { z-index: 1; top: 0; left: 0; opacity: 1; transform: scale(1, 1); transform: rotate(0deg); }

div.innertabs > ul { list-style: none; position: relative; display: block; overflow: hidden; margin: 0; padding: 0; border: 0; outline: none; font-size: 1rem; text-align: left; background-color: #fff; }

div.innertabs > ul > li { position: absolute; width: 100%; overflow: auto; padding: 30px 40px 40px; box-sizing: border-box; opacity: 0; transition: all 0.5s; }

/**/
/* default */
/**/
div.innertabs > label { padding: 0 20px; background: #e5e5e5; font-size: 13px; line-height: 49px; }

div.innertabs > label:hover { background: #f2f2f2; }

div.innertabs > input:checked + label { background: #fff; }

div.innertabs-theme-1 > label { margin: 0 5px 5px 0; border-radius: 5px; background: #fff; box-shadow: 1px 2px rgba(0, 0, 0, 0.2); color: #808080; opacity: 0.8; }

div.innertabs-theme-1 > label:hover { background: #fff; opacity: 1; }

div.innertabs-theme-1 > input:checked + label { margin-bottom: 0; color: #2b82d9; box-shadow: 1px 2px rgba(43, 130, 217, 0.5); opacity: 1; }

div.innertabs-theme-1 > ul { border-radius: 5px; box-shadow: 0 3px rgba(0, 0, 0, 0.2); }

div.innertabs-theme-1 > .tab-content-first:checked ~ ul { border-top-left-radius: 0; }

@media screen and (max-width: 767px) { div.innertabs-theme-1 > label { margin-right: 0; }
  div.innertabs-theme-1 > input:checked + label { margin-bottom: 5px; padding-bottom: 0; border-radius: 5px; }
  div.innertabs-theme-1 > .tab-content-first:checked ~ ul { border-top-left-radius: 5px; } }
/**/
/* animation effects */
/**/
div.innertabs-effect-scale > ul > li { -webkit-transform: scale(0.1, 0.1); }

div.innertabs-effect-rotate > ul > li { -webkit-transform: rotate(180deg); }

div.innertabs-effect-slide-top > ul > li { top: -40px; }

div.innertabs-effect-slide-right > ul > li { left: 80px; }

div.innertabs-effect-slide-bottom > ul > li { top: 40px; }

div.innertabs-effect-slide-left > ul > li { left: -80px; }

/**/
/* height */
/**/
div.innertabs > ul, div.innertabs > ul > li { height: 370px; }

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/
/**/
/* pad */
/**/
/**/
/* phone */
/**/
@media screen and (max-width: 767px) { div.innertabs > label { display: block; }
  div.innertabs > .right { float: none; } }
.mod_journal .mod-journal-delete { color: #c00; }

.mod_journal .mod_journal_tag { padding: 0.2em 0; }

.mod_journal .mod_journal_taglist { border: 1px solid #ececec; max-height: 100px; overflow-y: scroll; }

/* ===== Settings page ===== */
.mod_journal .resize_defaults { cursor: pointer; }

.mod_journal .setting_name { vertical-align: top; width: 20%; font-weight: 900; }

.mod_journal .setting_value { vertical-align: top; width: 80%; }

.mod_journal .setting_value input[type="text"], .mod_journal .setting_value select { width: 98%; }

.mod_journal span.mod_journal_color { display: inline-block; width: 25px; height: 25px; border-radius: 50%; }

/* ===== alerts ===== */
div.mod_journal.wbce div.alert { padding: 5px; border: 1px solid #ccc; border-radius: 5px; }
div.mod_journal.wbce div.alert.alert-danger { background-color: #FFCCCC; }
div.mod_journal.wbce div.alert.alert-info { background-color: #FFFFCC; }

.mod_journal table.table th, .mod_journal table.table td.btnline { background: #464b4c; border-top: 1px solid #353939; border-bottom: 1px solid #353939; background-image: linear-gradient(to bottom, #464b4c, #353939); color: #fff; }

.mod_journal table.table th.l2 { background: transparent; color: #000; font-size: 1.2em; font-weight: 600; }

.mod_journal.wbce tbody.ui-sortable td.dragdrop_handle.ui-sortable-handle i.fa.fas.fa-fw.fa-arrows-alt-v { display: none; }

.mod_journal.wbce .btnline .btn.btn-primary { border: 2px solid transparent; border-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); border-image-slice: 1; }

/*# sourceMappingURL=backend.css.map */
