$red: #c00;
$white: #fff;
$black: #000;
$gray: #ccc;
$dark: #464b4c;
$darkborder: #353939;
$gradient1: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);