/* ===== DRAG & DROP ===== */
.mod_journal .dragdrop_handle {
    background-color: #ccc;
    background-image: url("images/dd_grip.png");
    background-position: right center;
    cursor: move;
    padding: 0;
    width: 20px !important;
}