/* ===== forms ===== */
.mod_journal.wbce input[type="submit"],.mod_journal.wbce input[type="button"]{width:150px;padding:5px;margin-top:5px}
.mod_journal.wbce a.btn{display:inline-block;width:150px;background-color:#ccc;text-align:center;text-decoration:none;}
.mod_journal.wbce a.btn:hover{color:#c00;}

div.card-content .form-control{display:inline}
