/* ===== IMAGE PREVIEW ===== */
.xbtooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid grey;
    padding: 3px;
}
.xbtooltip img {
    width: 200px;
}
.mod_journal .img_list {
    width: 80px;
}