/* ===== MAIN TABS ===== */
div.mod_journal div.tabs nav ol,
div.mod_journal div.tabs nav ul {
  list-style: none;
}
div.mod_journal div.tabs nav {
  text-align: center;
}
div.mod_journal div.tabs nav {
  height: 36px;
  background: #464b4c;
  border-top: 1px solid #353939;
  border-bottom: 1px solid #2e3131;
  background-image: linear-gradient(to bottom, #464b4c, #3f4344);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
div.mod_journal div.tabs nav a {
  transition: 0.1s ease-out;
  transition-property: background-color, line-height;
}
div.mod_journal div.tabs nav ul {
  float: left;
  border-left: 1px solid #353939;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid #4d5354;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}
div.mod_journal div.tabs nav li {
  float: left;
  margin-left: 0;
}
div.mod_journal div.tabs nav a {
  display: block;
  padding: 0 20px;
  line-height: 36px;
  color: #ddd;
  text-decoration: none;
  text-shadow: 0 -1px #2e3131;
  border-left: 1px solid #4d5354;
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  border-right: 1px solid #353939;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
div.mod_journal div.tabs nav a:hover {
  background: #4d5354;
  background: rgba(255, 255, 255, 0.05);
}
div.mod_journal div.tabs nav li a,
div.mod_journal div.tabs nav a:active {
  padding: 0 21px;
  line-height: 33px;
  color: #eee;
  background: #323637;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #48a9c0;
  background-image: linear-gradient(to bottom, #484e4f, #323637);
  box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
}
div.mod_journal div.tabs nav li.licol2 a, div.mod_journal div.tabs nav li.licol2 a:active {
  border-bottom-color: #ed8753;
}
div.mod_journal div.tabs nav li.licol1 a, div.mod_journal div.tabs nav li.licol1 a:active {
  border-bottom-color: #ed5753;
}
div.mod_journal div.tabs nav li.licol3 a, div.mod_journal div.tabs nav li.licol3 a:active {
  border-bottom-color: #FFB458;
}
div.mod_journal div.tabs nav li.licol4 a, div.mod_journal div.tabs nav li.licol4 a:active {
  border-bottom-color: #fcfc74;
}

div.mod_journal div.tabs nav li a:hover {
    border-bottom-color: #fff;
}

div.mod_journal div.tabs nav li.active a { background: rgba(255, 255, 255, 0.05); }




.mod_journal #subtab1:checked ~ #sub-tab-content1,
.mod_journal #subtab2:checked ~ #sub-tab-content2 {
    display: block;
}