/* ===== tables ===== */
.mod_journal.wbce table.table{width:100%}
.mod_journal.wbce table.table th, .mod_journal.wbce table.table td{padding:2px 5px;text-align:left;}
.mod_journal.wbce table.table img.preview{height:50px;max-height:50px;}
.mod_journal.wbce table.table-striped tr:nth-child(odd),.mod_journal.wbce .mod_journal_tag:nth-of-type(odd) {background-color:#ececec}
.mod_journal.wbce table.table-striped tr:nth-child(even){background-color:#fff}
.mod_journal table.table th {background-color:#ccc;color:#000;padding:5px;}
