@import url(js/spectrum.css);
@import url(css/fa/fontawesome.min.css);

@import '_colors.scss';
@import '_tables.scss';
@import '_forms.scss';
@import '_images.scss';
@import '_dragdrop.scss';
@import '_switch.scss';
@import '_tabs.scss';

.mod_journal .mod-journal-delete{color:$red;}
.mod_journal .mod_journal_tag {padding:0.2em 0;}
.mod_journal .mod_journal_taglist {border:1px solid #ececec;max-height:100px;overflow-y:scroll;}

/* ===== Settings page ===== */
.mod_journal .resize_defaults{cursor:pointer;}
.mod_journal .setting_name{vertical-align:top;width:20%;font-weight:900;}
.mod_journal .setting_value{vertical-align:top;width:80%;}
.mod_journal .setting_value input[type="text"],.mod_journal .setting_value select{width:98%}

.mod_journal span.mod_journal_color {
    display: inline-block;
    width:25px;
    height:25px;
    border-radius:50%;
}

/* ===== alerts ===== */
div.mod_journal.wbce div.alert {
    padding: 5px;
    border: 1px solid $gray;
    border-radius: 5px;
    &.alert-danger {
        background-color: #FFCCCC;
    }
    &.alert-info {
        background-color: #FFFFCC;
    }
}

.mod_journal.wbce .btnline .btn.btn-primary {
    border: 2px solid transparent;
    border-image: $gradient1;
    border-image-slice: 1;
}

.mod_journal .scrollable {
    margin-bottom:15px;
}

.mod_journal_console {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, 'Andale Mono', monospace;
}