@import url(js/spectrum.css);

@import '_tables.scss';
@import '_forms.scss';
@import '_images.scss';
@import '_dragdrop.scss';
@import '_switch.scss';
@import '_tabs.scss';

.mod_journal .mod_journal_tag {padding:0.2em 0;}
.mod_journal .mod_journal_taglist {border:1px solid #ececec;max-height:100px;overflow-y:scroll;}

/* ===== Settings page ===== */
.mod_journal .resize_defaults{cursor:pointer;}
.mod_journal .setting_name{vertical-align:top;width:20%;font-weight:900;}
.mod_journal .setting_value{vertical-align:top;width:80%;}
.mod_journal .setting_value input[type="text"],.mod_journal .setting_value select{width:98%}

.mod_journal span.mod_journal_color {
    display: inline-block;
    width:25px;
    height:25px;
    border-radius:50%;
}